doctype html
html
  head

    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')

    title= site.pageTitle

    meta(name='HandheldFriendly', content='true')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0')

    //- link(rel='stylesheet', href='//fonts.googleapis.com/css?family=Merriweather:300,700,700italic,300italic|Open+Sans:700,400') //from Ghost
    link(rel='stylesheet', href='//fonts.googleapis.com/css?family=Poppins:400,500,600,700|Source+Sans+Pro:300,400|Kaushan+Script|Lora|Playfair+Display:700')

    link(rel='stylesheet', href='/style.css')

    link(rel="canonical", href=absoluteUrl)
    meta(name="referrer", content="no-referrer-when-downgrade")
    link(rel="next", href=absoluteUrl)

    meta(name='title', content=site.pageTitle)
    meta(name='description', content=site.pageDescription)

  body

    div#loader
      div.centrize
        div.v-center
          div#mask
            <svg class="preloader-icon" width="34" height="38" viewbox="0 0 34 38">
              <path class="preloader-path" stroke-dashoffset="0" d="M29.437 8.114L19.35 2.132c-1.473-.86-3.207-.86-4.68 0L4.153 8.114C2.68 8.974 1.5 10.56 1.5 12.28v11.964c0 1.718 1.22 3.306 2.69 4.165l10.404 5.98c1.47.86 3.362.86 4.834 0l9.97-5.98c1.472-.86 2.102-2.45 2.102-4.168V12.28c0-1.72-.59-3.306-2.063-4.166z"></path>
            </svg>

    div#wrapper

      block content


    script(src="//code.jquery.com/jquery-1.12.0.min.js")
    script(src="/js/main.js")
